<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Diet Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<tr>
    <td th:text="${training.abbs}" />
    <td th:text="${training.legs}" />
    <td th:text="${training.abbs}" />
    <td th:text="${training.abbs}" />
    <td th:text="${training.abbs}" />
</tr>


</body>
</html>