<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <base href="/">
    <title>Fit application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6    bg-secondary">
            <nav class="navbar navbar-dark bg-dark">
                <a href="/addPersonalData" class="navbar-brand">Uzupelnij dane</a>
                <a href="/createTraining" class="navbar-brand">Rozpocznij trening</a>
                <a href="/trainingInfo" class="navbar-brand">Rozpiska</a>
            </nav>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
</body>
</html>