<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Diet Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div post_id="menubox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Allergens</div>
            </div>

            <table>
                <tr data-th-each="allergen : ${allergens}">
                    <td data-th-text="${allergen.start}"></td>
                    <td data-th-text="${allergen.dish}"></td>
                </tr>
            </table>

            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" post_id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form post_id="loginform" class="form-horizontal" role="form">
                    <div class="col-sm-12 controls">
                        <a post_id="btn-login" href="/menu" class="btn btn-success">menu</a>
                        <a post_id="btn-login2" href="/addReaction" class="btn btn-success">add reaction</a>
                        <a post_id="btn-login3" href="/findAllergens" class="btn btn-success">find allergens</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>