<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <title>Fit application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          type="text/css"
          href="css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <!--            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
            <nav class="navbar navbar-dark bg-dark">
                <a href="/signUp" class="navbar-brand">Rejestracja</a>
                <a href="/signIn" class="navbar-brand">Logowanie</a>
            </nav>

            <img class="img-fluid" alt="Responsive image" src="/image/gym.jpg" >

        </div>
        <div class="col-sm-3"></div>
    </div>


</div>
</body>
</html>