<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Diet Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <!--<div id="menubox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">-->
    <div id="menubox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Tips</div>
            </div>

            <!--<div style="padding-top:30px" class="panel-body">-->
            <div class="panel-body">
                <div class="panel-primary">

                    <br>
                    Czytaj etykiety produktów które spożywasz!
                    <br>
                    <br>
                    <br>


                </div>


                <!--<div style="padding-top:30px" class="panel-footer">-->
                <div>
                    <!--<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>-->
                    <form id="loginform" class="form-horizontal" role="form">
                        <div class="col-sm-12 controls">
                            <a pid="btn-login" href="/menu" class="btn btn-success">menu</a>
                            <a id="btn-login2" href="/addReaction" class="btn btn-success">add reaction</a>
                            <a id="btn-login3" href="/findAllergens" class="btn btn-success">find allergens</a>
                        </div>
                    </form>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>